<footer>
	{% if site.your_name %}
	<p class="footerText">Made by {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
	{% endif %}
	<div class="footerIcons">

		{% if site.twitter_username %}
			<a href="https://twitter.com/{{ page.id | site.twitter_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.instagram_username %}
			<a href="https://instagram.com/{{ page.id | site.instagram_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.google_play_id %}
		<a href="https://play.google.com/store/apps/dev?id={{ site.google_play_id }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-google-play fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.github_username %}
			<a href="https://github.com/{{ page.id | site.github_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.facebook_username %}
		<a href="https://facebook.com/{{ page.id | site.facebook_username }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.linkedin_username %}
		<a href="https://linkedin.com/{{ page.id | site.linkedin_username }}">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-linkedin-in fa-stack-1x"></i>
			</span>
		</a>
	    {% endif %}


	</div>
	<div class="footerLinks">
		{% for page in site.pages %}
			{% if page.include_in_footer == true %}
				<a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
			{% endif %}
		{% endfor %}
	</div>
</footer>